#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Navbar Section */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.4rem;
  font-weight: 800;
  padding: 20px 30px;
  background-color: #81b1ce;
  color: #113065;
  position: sticky; 
  top: 0; 
  z-index: 1000; /* Ensure the navbar is always on top */
  width: 98.6%; 
}

.navbar ul {
  list-style: none; /* Remove bullet points */
  display: flex; 
  padding: 0;
  margin: 0; 
}

.navbar ul li {
  margin: 0 30px; 
}

.navbar ul li a {
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 10px 15px; 
}

.navbar ul li a:visited {
  color: black; /* Ensure visited links don’t turn purple */
}

.navbar ul li a:hover {
  background-color: #a6c6d6;
  border-radius: 5px; 
}

.navbar ul li a svg {
  pointer-events: none; /* Ensures the hover works on the whole area */
  color: black;
}

/* Products Section */
.product-list {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px 20px; 
  background-color: #fff; 
  margin-top: 0;
  width: 100%;
}

.product-list h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.product-list ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr)); /* Responsive grid */
  gap: 20px;
  width: 100%; 
}

.product-list li {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-list li:hover {
  transform: translateY(-5px); /* Lift the product card slightly */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}

.product-list h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.product-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limits to 3 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  color: #524c4c;
  margin: 5px 0;
}


.product-list p:nth-child(3) {
  font-size: 1.2rem;
  font-weight: bold;
  color: #070707; /* Green color for price */
}

.product-list p:nth-child(4) {
  font-size: 1.6rem;
  font-weight: bold;
}

.product-list p:nth-child(5) {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff; /* Green color for price */
  background-color: green
}
.product-list p:nth-child(5):hover {
  scale: 1.1;
}


